.loginContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.formLabel {
    font-size: var(--font-size-sm);
}

.formButton {
    padding: 20px;
    margin: 10px 0;

    background-color: var(--foreground);
    border: 1px solid var(--foreground);
    outline: none;

    font-size: var(--font-size-sm);
    color: white;
}

.title {
    font-size: var(--font-size-lg);
}

.subtitle {
    font-size: var(--font-size-sm);
    color: var(--text-gray);
}

.link {
    color: var(--text-gray);
    text-decoration: none;
    font-size: var(--font-size-xs);
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 10px 0;
}

.form > input {
    width: 480px;
    height: 64px;

    padding: 24px; 

    font-size: var(--font-size-sm);
}

.linkWrapper {
    display: flex;
    justify-content: center;
}

.formHeaderContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}