.loginContainer {
    width: 480px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.title {
    font-size: var(--font-size-lg);
}

.subtitle {
    font-size: var(--font-size-sm);
    color: var(--text-gray);
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}

.form > input {
    width: 480px;
    height: 64px;

    padding: 24px; 

    font-size: var(--font-size-sm);
}
.form > input:focus-visible {
    outline: none;
}

.errorMessage {
    color:  #FF0000;
    font-size: var(--font-size-sm);
    height: 24px;
}

.errorInput {
    border-color: #FF0000;
}
.errorInput:focus-visible {
    outline: none;
}