.pageContainer {
  width: 100%;
  
  padding: 20px 30px;
  
  display: flex;
  flex-direction: column;
}

.pageContainer :global(.styles_componentTitle__x3Q7u) {
  font-size: 28px !important;
  font-weight: 700 !important;
  margin-bottom: 15px !important;
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 15px;
  }
}