.registerContainer {
  width: 480px;

  margin: 0 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

@media (max-width: 1150px) {
  .registerContainer {
      gap: 8px;
  }
}

@media (max-width: 680px) {
  .registerContainer {
      width: 326px;
  }
}