.rentalContainer {

    width: 600px;
    
    margin: 0 20px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 28px;
}

.formButtonContainer {

    width: 100%;
    
    margin: 10px 0 20px;
}

.calendarButton {

    width: 100%;

    padding: 14px 16px;
    
    border: none;
    border-radius: 6px;
    background: linear-gradient(
        304.55deg,
        #FCC6D2 10%,
        #FF426B 30%,
        #246EFF 80%
    );
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.calendarButton:hover {

    transform: translateY(-2px);

    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


.buttonGroup {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
    margin-top: 24px;
}

.clearButton, .rentButton {
    width: 80%;
    
    padding: 18px 24px;
    
    text-align: center;
    
    border: none;
    border-radius: 8px;
    
    font-size: 17px;
    font-weight: 600;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.clearButton {
    background: #f0f0f0;
    
    color: #333;
}

.clearButton:hover {
    background: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    transform: translateY(-2px);
}

.rentButton {
    background: #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
    color: white;
    
    transition: all 0.4s ease;
}

.activeRentButton {
    background: linear-gradient(305.64deg, #FF4A4A 33.69%, #FF9900 75.7%, #FFD9A1 100.91%, #FFC671 107.63%, #FFC671 119.4%) !important;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    
    transform: translateY(-1px);
}

.activeRentButton:hover {
    transform: translateY(-2px) scale(1.02);
    
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}