
.layoutContainer {
    width: 100vw;
    height: 100vh;
    
    margin: 0;

    display: grid;
    grid-template-columns: .9fr 1fr;
}
.layoutContainer > * {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .layoutContainer {
        grid-template-columns: 1fr 0;
    }
}