:root {
  --background: #ffffff;
  --foreground: #09090B;
  --border-gray: #e4e4e7;
  --text-gray:  #09090B;
  --font-size-lg: 30px;
  --font-size-md: 24px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.border-rounded {
  border-radius: 8px;
}
.border-gray {
  border: 1px solid var(--border-gray);
}
.faded {
  opacity: 0.3;
}
.text-gray {
  color: var(--text-gray);
}
.circle-sm {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.circle-md {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
.circle-lg {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}