:root {
  --background: #ffffff;
  --foreground: #09090B;
  --border-gray: #e4e4e7;
  --text-gray:  #71717A;
  --busy-red: #FF426B;
  --font-size-lg: 30px;
  --font-size-md: 24px;
  --font-size-base: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;
  --font-family: 'Inter', sans-serif;
  /* utilizati font-family doar pentru cazuri de override precum input-uri*/
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.border-rounded {
  border-radius: 6px;
}
.border-gray {
  border: 1px solid var(--border-gray);
}
.faded {
  opacity: 0.3;
}
.text-gray {
  color: var(--text-gray);
}
.circle-sm {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.circle-md {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
.circle-lg {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

@media (max-width: 680px) {
  :root {
    --font-size-lg: 24px;
    --font-size-md: 24px;
    --font-size-sm: 16px;
    --font-size-xs: 14px;
  }
}