.formWrapper {
   width: 480px;

   margin: 0 20px;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   gap: 10px;
 }

 @media (max-width: 1150px) {
   .loginContainer {
       gap: 8px;
   }
 }

 @media (max-width: 680px) {
   .loginContainer {
       width: 400px;
   }
 }
