.formWrapper {
    width: 480px;
 
    margin: 0 20px;
 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.backButton {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 55px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 1px 1px 0px #000E330D;

    border: none;
    border-radius: 80px;

    cursor: pointer;
 }

.backArrow 
{
  width: 17px;
  height: 10px;

  position: relative;
  top: 1px;
  left: 1px;

  transform: rotate(90deg);
}
 
@media (max-width: 1150px) {
    .loginContainer {
       gap: 8px;
    }
}
 
@media (max-width: 680px) {
    .loginContainer {
       width: 400px;
    }
}
 