
.homeContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 20px;
  margin-top: 20px;
}

.statusCard {
  padding: 30px 30px;

  display: flex;
  align-items: center;

  background-color: #FF5075;
  border-radius: 20px;
  margin-top: 20px;
  margin-top: 20px;

  justify-content: center;
  color: white;
  font-size: var(--font-size-md);
  font-weight: 400;
}

.welcomeCard {
  min-height: 619px;
  padding: 60px 60px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  border-radius: 20px;
  background-color: var(--foreground);
  margin-top: 20px;
  margin-top: 20px;

  color: white;
}
.welcomeCard > * {
  max-width: 950px;
}
.welcomeMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px; 
  
  width: 100%;

  font-size: 60px;
  text-align: left;
}
.welcomeCard > *:not(:first-child) {
  display: inline;
  font-size: 25px;
}
.welcomeCard > *:not(:first-child) > div {
  display: inline;
  font-size: 25px;
}
.showTablet {
  display: none;
}
.showMobile {
  display: none;
}


@media (max-width: 1150px) {
  .statusCard{
    padding: 30px 30px;
  }
  .welcomeCard {
    align-items: flex-start;
    padding: 40px 60px;
  }
  .welcomeMessage{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 70px;
    text-align: left;
  }
  .showTablet {
    display: block;
  }
  .showDesktop {
    display: none;
  }
  .showMobile{
    display: none;
  }
}
@media (max-width: 860px) {
  .statusCard{
    padding: 30px 60px;
  }
  .welcomeCard {
    align-items: flex-start;
  }
  .welcomeMessage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 20px;     
    max-width: 100%;
    
    font-size: 60px;
  }
  .welcomeCard > *:not(:first-child) > div {
    font-size: 20px;
  }
  .showTablet {
    display: none;
  }
  .showMobile {
    display: block;
  }
}