
.layoutContainer {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.layoutContainer > div:not(.mainContainer) {
    margin: 10px;
}

.mainContainer {
    flex-grow: 1;
    
    min-width: 0;

    margin-top: 5px;
    padding: 10px;

    overflow-y: scroll;
}
.contentWrapper {
    padding: 5px 0;
}

@media (max-width: 1150px) {
    .layoutContainer {
        padding-bottom: 0px;

        flex-direction: column;
        gap: 0px;
    }
    .mainContainer {
        padding-bottom: 130px;
    }
    .tabletPadding {
        padding: 5px 10px;
    }
}
@media (max-width: 860px) {
    .mainContainer {
        padding: 10px 20px 115px 10px;
    }
}