.container {
  height: 90vh;
  width: 100%;

  padding: 0px 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
  font-family: var(--font-family);
}

.contentBox {
  width: 50%;
  height: 100%;
  min-height: 300px;

  padding: 100px 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffd799;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.message {
  font-weight: bold;
  font-size: var(--font-size-lg);
  text-align: center;
  color: var(--foreground);
}
